<!DOCTYPE html>
<html>
  <head>
    <title>LINEApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 一部の旧式ブラウザでの問題を解消するため-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="header-logo">
        <%= link_to 'LINE',root_url%>
      </div>
      <ul class="header-menus">
        <% if user_signed_in? %>
          <li>Signed in as: <%= current_user.username%></li>
          <li><%= link_to 'Chat',"/users/#{current_user.id}"%></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </header>
    <!-- Flashメッセージ-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
