<!DOCTYPE html>
<html>
  <head>
    <title>LINEApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 一部の旧式ブラウザでの問題を解消するため-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>
    <nav>
      <%= link_to 'TOP',root_url%>
      <% if user_signed_in? %>
        Signed in as: <%= current_user.username%>
        <%= link_to 'Chat Page',"/users/#{current_user.id}"%>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </nav>
  <body>
    <!-- Flashメッセージ-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
